html,body {
  margin: 0;
  padding: 0;
}

table{
  width: 100%;
  border-collapse: collapse;
}
td,th{
  padding: 10px;
  border: 1px solid #ccc;
}
th{
  background-color: rgba(0, 0, 0, 0.6);
  text-align: left;
}

.sidebar
{
  color: #fff;
}
.logo1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
}
.logo-icon{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color:#fff;
  
}
.menu-bar
{
  height: 80vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
}
.toggle-theme-btn
{
  position: absolute;
  bottom: 30px;
  left :20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.toggle{
  margin-left :15px;
  
}

.layout{
  max-width: 20px;
}

.download:hover
{
  color:white;
  background-color: #007bff;
}

.unenroll
{
  background-color: #fff;
  color: black;
}
.unenroll:hover
{
  background-color:#007bff ;
  color: #fff;
}

.viewcourse
{
  background-color:#084725;
  color:#fff;
  padding:10px;
  border-radius: 10px;
}
.viewcourse:hover{
  background-color: #fff;
  color:#090909;
}

.download:hover
{
  color:white;
  background-color: #007bff;
}